.brba {
    width: 50%;
}
h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 60px;

}
main {
    text-align: center;
}
.rating {
    text-align: left;
}
.rate{
    text-align: left;
}